
$toolbar-background-color: #03a9f4;
page-triaminic {
	font-size: 16px;
	
    .ui-content{
    	background-image: url(../assets/img/dosing/blue-flower.jpg);
    	height: 99%;
    }
	.toolbar-background-md, .toolbar-background{
		background: $toolbar-background-color;
	}
	ion-content, div.scroll-content{
    	background-color: transparent;
    }
}
