<!-- 
  Generated template for the page

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
 -->
<ion-header class="ui-header {{setting.class}}">

  	<ion-navbar>
	    <ion-title>
	    	<h1 class="ui-title">
	      		Compare
	      	</h1>
	    </ion-title>
    	<ion-buttons end>
	      	<button ion-button icon-only (tap)="showMenu()">
	        	<ion-icon name="menu"></ion-icon>
	      	</button>
	    </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content overflow-scroll="true"  class="{{setting.class}}" has-subheader="true">
	<ion-header class="ui-header fullWidth">
		<ion-navbar class="fullWidth robotoLight {{setting.p}} shadowBottom littleSpan">
			<p>{{pageTitle[pageId]}}</p>
		</ion-navbar>
	</ion-header>
	<div class="fullWidth">
		<p>&nbsp;</p>
		<div id="all_questions_div">
		    <div id="compare_cough_mobile_1" *ngIf="currentPage==-1">
		        <!-- ---Start follow up intro--- -->
		        <div [innerHTML]="html_data[pageId]?.dashboard"></div>
		        <p class="centerText">
		            <button data-inline="true" class="compare_cough_mobile_2_n_link ui-btn ui-btn-inline ui-shadow ui-corner-all" (tap)="transitPage(0)">Continue</button>
		        </p>
		        <p>&nbsp;</p>
		    </div>
		    <!-- End follow up intro -->
		    <div id="compare_cough_mobile_2_n" *ngIf="currentPage%2==0 && currentPage<html_data[pageId]?.length">
		    	<div [innerHTML]="html_data[pageId][currentPage]"></div>
		        <p class="centerText">
		            <button data-inline="true" class="compare_cough_mobile_3_y_link ui-btn ui-btn-g ui-btn-inline ui-shadow ui-corner-all" data-theme="g" (tap)="transitPage(currentPage+1)">Yes</button>
		            <button data-inline="true" class="compare_cough_mobile_3_n_link ui-btn ui-btn-f ui-btn-inline ui-shadow ui-corner-all" data-theme="f" (tap)="transitPage(currentPage+2)">No</button>
		        </p>
		        <p>&nbsp;</p>
		    </div>
		    <!-- end first follow up question div -->
		    <!-- start follow up 3 div -->
		    <div id="compare_cough_mobile_3_y" *ngIf="currentPage%2==1 && currentPage<html_data[pageId]?.length">
		    	<div [innerHTML]="html_data[pageId][currentPage]"></div>
		        <p class="centerText">
		            <button data-inline="true" class="compare_cough_mobile_3_n_link ui-btn ui-btn-e ui-btn-inline ui-shadow ui-corner-all" data-theme="e" (tap)="transitPage(currentPage+1)">Continue</button>
		        </p>
		        <p>&nbsp;</p>
		    </div>
		    <div id="compare_cough_mobile_10_n" *ngIf="pageId==0 && currentPage==html_data[pageId]?.length">
		        <div [innerHTML]="html_data[pageId][currentPage]"></div>
		        <p class="centerText">
		            <a href="#" data-inline="true" class="linkBlue back_compare_cough_mobile ui-link" (tap)="transitPage(-1)"><span class="mbsc-ic mbsc-ic-ion-android-system-back mobi-icon-font40"></span>Back</a>
		        </p>
		        <p>&nbsp;</p>
		        <p>&nbsp;</p>
		    </div>
		    <div id="compare_yeast_mobile_12_n" *ngIf="pageId==1 && currentPage==html_data[pageId]?.length">
		        <div [innerHTML]="html_data[pageId][currentPage]"></div>
		        <p class="centerText">
		            <a href="#" data-inline="true" class="linkBlue back_compare_yeast_mobile ui-link" (tap)="transitPage(-1)"><span class="mbsc-ic mbsc-ic-ion-android-system-back mobi-icon-font40"></span>Back</a>
		        </p>
		        <p class="centerText"> 
		            <a href="#" class="linkCyan robotoLight compare_antifungi_creams ui-link" data-inline="true" (tap)="transitPage(100)">Compare Products</a>
		        </p>
		        <p>&nbsp;</p>
		        <p>&nbsp;</p>
		    </div>
		    <div class="showCompareDiv" *ngIf="pageId==1 && currentPage==100">
			    <div [innerHTML]="html_data[pageId][currentPage]"></div>
			    <p class="centerText">   
			        <a href="#" data-role="none" class="refreshPage linkAmber" data-inline="true" (tap)="transitPage(-1)">Refresh</a>   
			        <a href="#" data-role="none" class="linkBlueBorderThin" data-inline="true" (tap)="showCompare()">Compare Other</a>
			    </p>
			    <!-- ----End Popoup div----- -->
			</div>
			<div id="compare_athletesfoot_mobile_10_n" *ngIf="pageId==2 && currentPage==html_data[pageId]?.length">
				<div [innerHTML]="html_data[pageId][currentPage]"></div>
		        <p class="centerText">
		            <a href="#" data-inline="true" class="linkOrange back_compare_athletesfoot_mobile ui-link" (tap)="transitPage(-1)"><span class="mbsc-ic mbsc-ic-ion-android-system-back mobi-icon-font40"></span>Back</a>
		        </p>
		        <p>&nbsp;</p>
		        <p>&nbsp;</p>
		    </div>
		</div>
		<p>&nbsp;</p>
	    <p>&nbsp;</p>
	    <p>&nbsp;</p>
	</div>
</ion-content>
