<ion-header class="ui-header {{setting.class}}">
  <ion-navbar>
    	<ion-title>
	    	<h1 class="ui-title" *ngIf="html_data!=null">
	      		{{html_data[pageId]?.title}}
	      	</h1>
    	</ion-title>
    	<ion-buttons end>
      		<button ion-button icon-only (click)="showMenu()">
        		<ion-icon name="menu"></ion-icon>
      		</button>
    	</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content overflow-scroll="true"  padding class="{{setting.class}} content{{pageId}} ui-page-theme-{{pagemode[pageId]}}">
	<div class="ui-content" role="main" *ngIf="html_data!=null">
	</div>
</ion-content>
