
<ion-header class="ui-header {{setting.class}}">
  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title" *ngIf="html_data!=null">
      		{{html_data[pageId]?.title}}
      	</h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
  <ion-navbar class="fullWidth robotoLight {{setting.p}}">
  	<p [innerHTML]="getTitle()"></p>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true"  padding class="{{setting.class}} content{{pageId}} ui-page-theme-{{pagemode[pageId]}}">
	<div class="ui-content" role="main" *ngIf="html_data!=null">
		<div [innerHTML]="getHeader()"></div>
		<div *ngIf="html_data[pageId]?.pages[page]['options']!=null">
			<div id="allergy3_mobile_q1_form_div" style="" mbsc-enhance="" data-enhance="false" class="mbsc-comp mbsc-form mbsc-mobi-{{html_data[pageId]?.pages[page]['optcolor']}} mbsc-mobiscroll mbsc-ltr">
				<ng-container *ngFor="let each_option of html_data[pageId]?.pages[page]['options'];">
		            <label for="allergy3_mobile_q1_{{each_option.id}}" class="mbsc-checkbox" (tap)="toggleRecs(each_option.id)">
		            	<input type="checkbox" name="allergy3_mobile_q1" id="allergy3_mobile_q1_{{each_option.id}}" class="allergy3_mobileQ1 mbsc-control mbsc-control-ev" value="" data-enhanced="false" [(ngModel)]="recs[each_option.id]">
		        		<span class="mbsc-checkbox-box"></span>         
		        		<span class="mbsc-label">{{each_option.title}}</span>
		            </label>
		            <hr class="hr{{html_data[pageId]?.pages[page]['optcolor']}}">
				</ng-container>
				<div class="clearboth divider1"></div>
				<p class="centerText"> 
					<input type="button" data-inline="true" id="get_allergy3_mobile_q1" value="{{html_data[pageId]?.pages[page]['buttons'][0]['title']}}" class="mbsc-control mbsc-btn mbsc-control-ev" (tap)="processFunc(html_data[pageId]?.pages[page]['buttons'][0])">
				</p>
			</div>
			<div *ngIf="mode==100" [innerHTML]="html_data[pageId]?.pages[page]['except']">
			</div>
		</div>
		<div data-role="fieldcontain" class="ui-field-contain" *ngIf="html_data[pageId]?.pages[page]['slider']!=null">
            <label for="slider_cold_fever_mobile" id="slider_cold_fever_mobile-label" [innerHTML]="html_data[pageId]?.pages[page]['slider']['label']"></label>
            <div class="ui-slider">
            	<ion-item>
					<ion-range min="{{html_data[pageId]?.pages[page]['slider']['min']}}" max="{{html_data[pageId]?.pages[page]['slider']['max']}}" step="{{html_data[pageId]?.pages[page]['slider']['step']}}" [(ngModel)]="currentTemp" color="sliderPink">
						<ion-label range-left>{{currentTemp}}</ion-label>
					</ion-range>
				</ion-item>
            </div>
            <input type="hidden" id="mobi_cold_temp" name="mobi_cold_temp" value="" class="displayNone mbsc-comp" readonly="">
        </div>

        <div *ngIf="html_data[pageId]?.pages[page]['lists']!=null">
	        <ng-container *ngFor="let each_data of html_data[pageId]?.pages[page]['lists']; let i = index">
	        	<div data-role="collapsible" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content " [ngClass]="{'ui-collapsible-collapsed': pages[i]}">
	            	<h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
	            		<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit" [ngClass]="{'ui-icon-arrow-r': pages[i], 'ui-icon-arrow-d': !pages[i]}" (tap)="togglePages(i)">
	            			<div [innerHTML]="each_data?.title"></div>
	            		</a>
	            	</h3>
	            	<div class="ui-collapsible-content ui-body-inherit " [ngClass]="{'ui-collapsible-content-collapsed': pages[i]}" aria-hidden="true">
	            		<div [innerHTML]="each_data?.content"></div>
	            	</div>
	            </div>
	        </ng-container>
	    </div>
	    <div *ngIf="html_data[pageId]?.pages[page]['buttonlist']!=null">
	    	<ul data-role="listview" data-inset="true" class="ui-nodisc-icon ui-listview ui-listview-inset ui-corner-all ui-shadow">
	    		<li *ngFor="let each_data of html_data[pageId]?.pages[page]['buttonlist']">
	    			<a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (tap)="togglePage(each_data?.go)">
	                    <div [innerHTML]="each_data?.title"></div>
	                </a>
	    		</li>
	    	</ul>
	   	</div>
		<p class="centerText" *ngIf="html_data[pageId]?.pages[page]['options']==null">
			<ng-container *ngFor="let each_but of html_data[pageId]?.pages[page]['buttons']">
				<p *ngIf="each_but.type=='refresh'" class="orangeBorderWhite orangefontSmall centerText">
					If this is the case, tap&nbsp;  <span data-inline="true" class="mbsc-ic mbsc-ic-ion-ios7-refresh-outline mobi-icon-font40 refreshPage" (click)="processFunc(each_but)"></span> to start over.<br>
				</p>
				<a *ngIf="each_but.type=='tel'" href="tel:" data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-{{each_but.theme}} ui-btn-inline ui-shadow ui-corner-all" role="button">{{each_but.title}}</a>
				<div *ngIf="each_but.type=='div'" href="#" class="{{each_but.theme}}" role="button">
					<a href="#" data-rel="popup" data-transition="slide" class="linkBanner ui-link" aria-haspopup="true" aria-owns="3BPRa-jpg-modal" aria-expanded="false" (click)="processFunc(each_but)">
		                <div [innerHTML]="each_but.title"></div>
		            </a>
				</div>
				<a *ngIf="each_but.type=='a'" href="#" class="ui-link ui-btn ui-btn-{{each_but.theme}} ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="processFunc(each_but)">
					<div [innerHTML]="each_but.title"></div>
				</a>
				<button *ngIf="each_but.type=='button'" data-inline="true" class="allergy1_mobile_2_y_link ui-btn ui-btn-{{each_but.theme}} ui-btn-inline ui-shadow ui-corner-all" (click)="processFunc(each_but)">
					<div [innerHTML]="each_but.title"></div>
				</button>
			</ng-container>
		</p>
		<p>&nbsp;</p>
	</div>
	
	<ng-container *ngFor="let eachDlg of FYIDlg;let i=index">
		<div class="ui-popup-screen ui-overlay-b in" id="allergy_mobile_pop-screen" *ngIf="eachDlg.show" (click)="toggleFYIDlg(false,i)"></div>
		<div class="ui-popup-container pop in ui-popup-active" id="allergy_mobile_pop-popup" *ngIf="eachDlg.show" [ngStyle]="{'max-width': eachDlg.maxWidth+'px','top': eachDlg.top+'px', 'left': eachDlg.left+'px', 'width': eachDlg.width+'px'}">
		    <div data-role="popup" id="allergy_mobile_pop" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all" data-overlay-theme="b" data-position-to="window">
		        <a href="#" data-rel="back" data-role="button" data-icon="delete" data-iconpos="notext" class="ui-btn-right ui-link ui-btn ui-icon-delete ui-btn-icon-notext ui-shadow ui-corner-all" role="button" (tap)="toggleFYIDlg(false,i)">Close</a>
		        <div [innerHTML]="html_data[pageId]?.dlg[i]"></div>
		    </div>
		</div>
	</ng-container>
</ion-content>