<ion-header class="ui-header">
	<ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	Drug coupons
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content overflow-scroll="true"  class="ui-page-theme-a" [ngClass]="{'no-scroll': noscroll}">
	<div [innerHTML]="html_data?.title"></div>
	<div class="ui-content">
		<div class="opacity5">
			<div [innerHTML]="html_data?.header"></div>
			<form class="ui-filterable">
				<div class="ui-input-search ui-shadow-inset ui-input-has-clear ui-body-inherit ui-corner-all">
					<input type="text" [(ngModel)]="dsearch" name="title" placeholder="Search for drug" (input)='onInputSearch($event.target.value)'/>
					<a href="#" tabindex="-1" aria-hidden="true" class="ui-input-clear ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all" *ngIf="dsearch.length>0" title="Clear text" (tap)="clearSearch()">Clear text</a>
				</div>
			</form>
			<ul id="coursemates" data-role="listview" data-filter="true" data-filter-reveal="true" data-filter-placeholder="Search for drug" data-inset="true" class="ui-nodisc-icon ui-alt-icon ui-listview ui-listview-inset ui-corner-all ui-shadow">
				<li *ngFor="let each of CouponData" class="ui-li-has-thumb">
					<a href="{{each.url}}" target="_self" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
						<img src="http://www.selfcarepharmacist.com/images/coupons/{{each.image_file}}" height="80" />
						<div [innerHTML]="sanitizer.bypassSecurityTrustHtml(each.drug_name)"></div>
						<div [innerHTML]="sanitizer.bypassSecurityTrustHtml(each.program_name)"></div>
						<p class="graygrayfontSmallSmall" style="font-size:10px;">Last reviewed: {{each.last_view}}</p>
					</a>
				</li>
			    <li id="search-list" class="no-results ui-li-static ui-body-inherit" [ngClass]="{'ui-screen-hidden': noFound}" (tap)="hideNoFound()">
			        <p class="centerText">Oops, No drug savings program found.<br>Tap on the FAQ button below<br> for possible reasons. </p>
			    </li>
			</ul>
			<div [innerHTML]="html_data?.partial_content"></div>
			<p class="centerText">
				<button class="buttonAmber robotoLight" data-enhanced="false" data-role="none" id="fyi_btn" (tap)="transitPage(1)">FYI</button>
				<button class="buttonBlue robotoLight" data-enhanced="false" data-role="none" id="faq_btn" (tap)="transitPage(2)">FAQ</button>
			</p>
			<div [innerHTML]="html_data?.footer"></div>
		</div>
	</div>
	<div lang="en" class="mbsc-mobi-light-orange mbsc-mobiscroll dw-top mbsc-wdg" *ngIf="page==1 || page==2">
	    <div class="dw-persp slidedown in">
	        <div class="dwo" [ngStyle]="{'top': topPx+'px'}" (tap)="transitPage(0)"></div>
	        <div role="dialog" tabindex="-1" class="dw dw-ltr" style="left: 0px;" [ngStyle]="{'top': topPx+'px'}">
	            <div class="dwwr">
	                <div aria-live="assertive" class="dw-aria dw-hidden"></div>
	                <div class="dwcc mbsc-wdg-c mbsc-w-p">
	                    <div id="fyi_div" class="mbsc-comp" *ngIf="page==1" [innerHTML]="html_data?.page1">
	                    </div>
	                    <div id="fyi_div" class="maxwidth450 mbsc-comp" *ngIf="page==2" [innerHTML]="html_data?.page2">
	                    </div>
	                </div>
	                <div class="dwbc">
	                    <div class="dwbw dwb-c">
	                        <div tabindex="0" role="button" class="dwb0 dwb-e dwb" (tap)="transitPage(0)">GOT IT</div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</ion-content>
