$toolbar-background-color: #E91E63;
page-dosing {
	font-size: 16px;
	background-image: url(../assets/img/dosing/pink-balls.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    .savedDose{
    	margin-top: 15px !important;
    }
	.toolbar-background-md, .toolbar-background{
		background: $toolbar-background-color;
	}
}