
<ion-header class="ui-header">

  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	&nbsp;
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
  <ion-navbar class="fullWidth roboto bgPink" *ngIf="currentPage==0">
    <div [innerHTML]="html_data?.navbar"></div>
  </ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgPink" *ngIf="currentPage==1 && isLoggedIn == false">
  	<div class="floatright"> 
	    <a href="#" class="linkGrayLight font12 absoluteRight ui-link" data-inline="true" (tap)="gotoLogin()">Login</a>
	</div>
	<p class="font14">Which medication?</p>
  </ion-navbar>
  <ion-navbar class="fullWidth robotoLight bgPink" *ngIf="currentPage==1 && isLoggedIn == true">
  	<div class="spinner floatright"></div>
	<div class="floatright savedDose">
	   <a href="#" class="linkGrayBorderLightThin font12 absoluteRight ui-link" data-inline="true" (tap)="gotoSavedDose()">Saved Doses</a>  
	</div>
	<p>Medication?</p>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="true"  padding class="ui-page-theme-i">
	<div class="ui-content">
		<div class="fullWidth mainPage" *ngIf="currentPage==0">
			<div [innerHTML]="html_data?.header"></div>
			<p class="centerText">
				<a href="#" class="linkRedBorder ui-link" (tap)="transitPage(1)">Let's get started</a>
			</p>
			<div [innerHTML]="html_data?.ppp"></div>
		</div>
		<div class="fullWidth mainPage transparentButton" *ngIf="currentPage==1">
			<div class="opacity1">
				<div [innerHTML]="html_data?.main_header"></div>
				<div>
					<p class="centerText" style="text-align: left;">
						<a href="#" class="linkRedBorder ui-link" (click)="scanner()">Scan Barcode</a>
					</p>
					{{scannedcode}}
					<div class="clearboth divider1"></div>
					<br/><br/>
				</div>
			    <ng-container *ngFor="let each_data of html_data?.data; let i = index">
			    	<div data-role="collapsible" data-collapsed="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content" [ngClass]="{'ui-collapsible-collapsed': pages[i]}">
				        <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
				        	<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-icon-arrow-r ui-btn-icon-left ui-btn-inherit" [ngClass]="{'ui-icon-arrow-r': pages[i], 'ui-icon-arrow-d': !pages[i]}" (tap)="togglePage(i)">
				        		<div [innerHTML]="each_data?.header"></div>
				        	</a>
				        </h3>
				        <div class="ui-collapsible-content ui-body-inherit" aria-hidden="true" [ngClass]="{'ui-collapsible-content-collapsed': pages[i]}">
				            <br>
				            <ul data-role="listview" class="ui-listview">
				            	<li *ngFor="let li_data of each_data?.list">
				            		<a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r" (tap)="gotoSubPage(li_data.id)">
				                        <div [innerHTML]="li_data?.content"></div>
				                    </a>
				            	</li>
				            </ul>
				            <p>&nbsp;</p>
				        </div>
				    </div>
				    <hr class="pink">
			    </ng-container>
			    <div [innerHTML]="html_data?.ppp"></div>
			</div>
		</div>
	</div>
	<div class="ui-popup-screen ui-overlay-b in" *ngIf="barcodeDlg.show" (click)="toggleDlg(false)"></div>
	<div class="ui-popup-container pop in ui-popup-active" *ngIf="barcodeDlg.show" [ngStyle]="{'max-width': barcodeDlg.maxWidth+'px','top': barcodeDlg.top+'px', 'left': barcodeDlg.left+'px', 'width': barcodeDlg.width+'px'}">
	    <div data-role="popup" class="ui-content ui-popup ui-body-inherit ui-overlay-shadow ui-corner-all" data-overlay-theme="b" data-position-to="window">
	        <div style="max-height: 500px; overflow-y: scroll;">
	        	<p>You scanned:</p>
	        	<div align="center" style="height: 150px;">
			    	<img src="{{barcodeDlg.image}}" style="height: 150px; width: 100px;" alt="Drug Image"> 
			    </div>
				<p class="centerText">{{barcodeDlg.name}}</p>
				<p class="centerText"><b style="font-size: 140%;">Is this correct</b></p>
				<div>
					<a href="#" style="float: left;" (click)="clickBarcode(0)">NO</a>
					<a href="#" style="float: right;" (click)="clickBarcode(1)">YES</a>
				</div>
	        </div>
	    </div>
	</div>
</ion-content>

