$themes: (
	theme_1: (
		tool_color: #03A9F4,
	),
	theme_2: (
		tool_color: #2196f3,
	),
	theme_3: (
		tool_color: #673ab7,
	),
	theme_4: (
		tool_color: #9C27B0,
	),
	theme_5: (
		tool_color: #FF9800,
	),
	theme_6: (
		tool_color: #F44336,
	),
	theme_7: (
		tool_color: #4CAF50,
	),
	theme_8: (
		tool_color: #8BC34A,
	),
	theme_9: (
		tool_color: #E91E63,
	),
	theme_10: (
		tool_color: #03a9f4,
	),
	theme_11: (
		tool_color: #F44336,
	),
	theme_12: (
		tool_color: #4CAF50,
	),
	theme_13: (
		tool_color: #FFEB3B,
	),
	theme_14: (
		tool_color: #00BCD4,
	),
	theme_15: (
		tool_color: #FF5722,
	),
	theme_16: (
		tool_color: #009688,
	),
);