$toolbar-background-color: #03a9f4;

page-comment-login {
	font-size: 16px;
    .ui-content{
    	background-image: url(../assets/img/dosing/blue-balls.jpg);
    	height: 99%;
    }
	.toolbar-background-md, .toolbar-background, .toolbar-background-ios{
		background: $toolbar-background-color;
	}
	
}
