$toolbar-background-color: #9C27B0;
page-dimetapp-cold-coughla-mobile {
	font-size: 16px;
	.ui-content{
		background-image: url(../assets/img/dosing/purple-balls.jpg);
	}
    .no-scroll{
    	.scroll-content {
	        overflow-y: hidden;
	    }
    }
    .dww{
    	overflow: inherit;
    }
    .dw-bf {
	    -webkit-backface-visibility: inherit;
	    -webkit-perspective: inherit;
	    backface-visibility: inherit;
	    perspective: inherit;
	}
	.toolbar-background-md, .toolbar-background{
		background: $toolbar-background-color;
	}
	
}