<ion-header class="ui-header {{setting.class}}">
  <ion-navbar>
    <ion-title>
    	<h1 class="ui-title">
      	&nbsp;
      </h1>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
	</ion-navbar>
	<ion-navbar class="fullWidth robotoLight {{setting.p}}">
		<p>{{html_data?.title[pageId]}}</p>
	</ion-navbar>
</ion-header>

<ion-content overflow-scroll="true"  padding class="{{setting.class}} content{{pageId}}">
	<div class="ui-content">
	    <div class="opacity1">
	        <div [innerHTML]="html_data?.header[pageId]"></div>
	        <ng-container *ngFor="let each_data of html_data?.content[pageId]; let i = index">
	        	<div data-role="collapsible" data-collapsed="true" data-inset="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-themed-content" [ngClass]="{'ui-collapsible-collapsed': pages[i]}">
	            	<h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed">
	            		<a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit" [ngClass]="{'ui-icon-plus': pages[i], 'ui-icon-minus': !pages[i]}" (click)="togglePage(i)">
	            			<div [innerHTML]="each_data?.header"></div>
	            		</a>
	            	</h3>
	            	<div class="ui-collapsible-content ui-body-inherit " [ngClass]="{'ui-collapsible-content-collapsed': pages[i]}" aria-hidden="true">
	            		<div>
	            			<div [innerHTML]="each_data?.subheader"></div>
	            			<ng-container *ngFor="let li_data of each_data?.list">
	            				<div class="ui-grid-a">
	                        		<div class="ui-block-a padded centerText">
			            				<a href="#" class="ui-link" (tap)="gotoSubPage(li_data[0].id)">
			                        		<div [innerHTML]="li_data[0].con"></div>
			                    		</a>
			                    	</div>
			                    	<div class="ui-block-b padded centerText" *ngIf="li_data[1]?.con.length>0">
			                            <a href="#" class="ui-link" (click)="gotoSubPage(li_data[1].id)">
			                                <div [innerHTML]="li_data[1].con"></div>
			                            </a>
			                        </div>
			                    </div>
			                    <br><hr class="hrblue"><br>
			            	</ng-container>
			            	<div class="clearboth divider9"></div>
	            		</div>
	            	</div>
	            </div>
	            <br><hr class="hrblue"><br>
	        </ng-container>
	        <div [innerHTML]="html_data?.footer"></div>
	    </div>
	</div>
</ion-content>
