$toolbar-background-color: #00BCD4;
$blue-text-color: #0093fc;
$red-text-color: #F00;

page-compare {
	font-size: 16px;
	.boxSpinnerCyan{
		top: 20%;
	}
	.toolbar-background-md, .toolbar-background{
		background: $toolbar-background-color;
	}
	.page-theme-childs{
		font-weight: bold;
	}
	.littleSpan p{
		padding: 0 0 0 1em !important;
	}
}
