$toolbar-background-color: #00BCD4;

page-compare {
	font-size: 16px;
	.boxSpinnerCyan{
		top: 20%;
	}
	.toolbar-background-md, .toolbar-background{
		background: $toolbar-background-color;
	}
	.page-theme-childs{
		font-weight: bold;
	}
}
