$toolbar-background-color: #03a9f4;

page-self-care {
	font-size: 16px;
    .back1{
    	background-image: url('../assets/img/illustration/male-model.jpg');
    }
    .back2{
    	background-image: url(../assets/img/dosing/blue-balls.jpg);
    }
    .back1, .back2{
        background-repeat: no-repeat;
        background-position: bottom;
        background-attachment: fixed;
    }
    .no-scroll{
    	.scroll-content {
	        overflow-y: hidden;
	    }
    }
    .mbsc-mobi-blue.mbsc-mobiscroll.mbsc-wdg{
		position: fixed;
	    top: 0px;
	    width: 100%;
	    height: 100%;
		z-index: 9999;
    }
    .mbsc-mobi-blue.mbsc-mobiscroll .dwo{
    	position: static;
    	top: 112px;
    }
    .mbsc-mobi-blue.mbsc-mobiscroll .dw.dw-ltr{
    	position: fixed;
    	top: 112px;
    }
	.toolbar-background-md, .toolbar-background{
		background: $toolbar-background-color;
	}
}
