
<ion-header class="ui-header">
    <ion-navbar>
        <ion-title>
            <h1 class="ui-title">
                Introduction
            </h1>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (tap)="showMenu()">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-navbar>
        <p class="fullWidth robotoLight bgLightBlue" *ngIf="pmode==0">Hello,</p>
        <p class="fullWidth robotoLight bgLightBlue" *ngIf="pmode==1">Who is this for?</p>
    </ion-navbar>
</ion-header>
<ion-content overflow-scroll="true"  class="ui-page-theme-a" [ngClass]="{'back1': pmode==0, 'back2': pmode==1, 'no-scroll': noscroll}">
    <div class="ui-content intro-page" *ngIf="pmode==0">
        <div [innerHTML]="html_data?.intro_header"></div>
        <div class="centerText">
            <div [innerHTML]="html_data?.intro_footer"></div>
            <p><a href="#" data-role="button" class="ui-btn ui-btn-j ui-shadow ui-btn-inline" id="intro_firstname_link" data-inline="true" data-theme="j" (tap)="transitPage(1)">Let's get Started</a></p>
            <div [innerHTML]="html_data?.intro_footer"></div>
        </div>
        <div [innerHTML]="html_data?.intro_footer"></div>
    </div>
    <div lang="en" class="mbsc-mobi-blue mbsc-mobiscroll dw-top  mbsc-wdg" *ngIf="page==1&&pmode==0">
        <div class="dw-persp slidedown in">
            <div class="dwo" (tap)="transitPage(0)"></div>
            <div role="dialog" tabindex="-1" class="dw dw-ltr">
                <div class="dwwr">
                    <div aria-live="assertive" class="dw-aria dw-hidden"></div>
                    <div class="dwcc mbsc-wdg-c mbsc-w-p">
                        <div id="intro_firstname" style="" class="mbsc-comp">
                            <div class="maxwidth300">
                                <div [innerHTML]="html_data?.mbsc_header"></div>
                                <form data-enhance="false" class="md-form mbsc-comp mbsc-form mbsc-mobi-blue mbsc-mobiscroll mbsc-ltr" mbsc-enhance="" id="mobiscroll1492698110595">
                                    <div class="mbsc-input">
                                        <span class="mbsc-input-wrap">
                                            <input id="firstname_input" type="text" name="firstname-input" placeholder="First Name Please" required="" autofocus="" value="" class="mbsc-control mbsc-control-ev" [(ngModel)]="dsearch">
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="dwbc">
                        <div class="dwbw ">
                            <div tabindex="0" role="button" class="dwb0 dwb-e dwb" (tap)="hereGo()">Here You Go</div>
                        </div>
                        <div class="dwbw ">
                            <div tabindex="0" role="button" class="dwb1 dwb-e dwb" (tap)="showWhy()">Why?</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fullWidth main-page slidedown in" role="main" *ngIf="pmode==1">
        <div [innerHTML]="html_data?.main_header"></div>
        <div>
            <p>&nbsp;</p>
            <p class="centerText">
                <img src="assets/img/backgrounds/treatment/family-intro.png" alt="Who is this for?" width="300" usemap="#Map">
                <map name="Map">
                    <area shape="rect" coords="0,0,110,292" href="#" alt="Adult" target="_top" (tap)="gotoPage(0)">
                    <area shape="rect" coords="120,92,184,291" href="#" alt="Child" target="_top" (tap)="gotoPage(1)">
                    <area shape="rect" coords="192,7,296,292" href="#" alt="Adult" target="_top" (tap)="gotoPage(0)">
                </map>
            </p>
            <div [innerHTML]="html_data?.intro_footer"></div>
        </div>
    </div>
</ion-content>