page-adult-pharmacist-childs {
	font-size: 16px;

	.swiper-scrollbar {
		position: fixed;
		-ms-touch-action: none;
		background: rgba(0,0,0,0.1);
		height: 5px;
		margin:46px auto 0px;
		width: 100%;
		z-index: 999;
	}
	.swiper-scrollbar-drag {
		height: 5px;
		width: 25%;
		position: relative;
		background: #FFFF00;
		border-radius: 0px;
		transition-duration: 500ms;
	}
	.swiper-scrollbar-cursor-drag {
		cursor: move;
	}
	.swiper-slide .maxwidth450 img{
		width: 100px;
	}
	.swiper-slide p.centerText img{
		width: 120px;
	}
	.swiper-slide{
		.color1{color:#cc0000;}
		.color2{color:#6633cc;}
		.color3{color:#800080;}
		.color4{color:#6666ff;}
		.color5{color:#008000;}
		.color6{color:#EE82EE;}
		.color7{color:#4B0082;}
		.color8{color:#FF0000;}
		.color9{color:#0000CD;}
		.color10{color:#B22222;}
		.color11{color:#FF8C00;}
		.color12{color:#696969;}
		.color13{color:#FFA500;}
		.color14{color:#000080;}
		.color15{color:#006400;}
		.color16{color:#3399ff;}
		.color17{color:#0066cc;}
		.color18{color:#6666cc;}
		.color19{color:#ff6600;}
		.color20{color:#cc3399;}
		.color21{color:#DAA520;}
		.color22{color:#008080;}
		.color23{color:#ff0066;}
		.color24{color:#6699ff;}
		.color25{color:#ff0099;}
		.color26{color:#3399cc;}
		.color27{color:#996699;}
		.color28{color: rgb(128, 0, 128);}
		.color29{color: rgb(255, 140, 0);}
		.color30{color: rgb(75, 0, 130);}
		.color31{color: rgb(218, 165, 32);}
		.color32{color: rgb(178, 34, 34);}
		.color33{color: #ff0000;}
		.color34{color: #0099cc;}
		.color35{color: #ff9900;}
		.color36{color: #cc0099;}
		.color37{color: #33cc66;}
		.color38{color:#808080;}
		.color39{color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.799999237060547px;}
		.color40{color: #9999cc;}
		.color41{color: #cc33cc;}
		.color42{color: rgb(238, 130, 238);}
		.color43{color: #000000;}
		.color44{color: rgb(255, 0, 0);}
		.color45{color: #ff00cc;}
		.color46{color: #FFA07A;}
		.color47{color: #ff3399;}
		.color48{color: #0099cc;}
		.color49{color: rgb(0, 0, 205);}
		.color50{color: rgb(169, 169, 169);}
		.img_style1{width: 100px; margin: 8px; float: left;}
		.img_style2{width: 300px; height: 250px;}
		.img_style3{width: 120px; height: 94px; margin: 8px; float: right;}
		.img_style4{width: 150px; height: 104px; margin: 8px; float: right;}
		.img_style5{width: 80px; height: 100px; float: left; margin: 10px;}
		.img_style6{width: 100px; height: 86px; margin: 8px; float: left;}
		.img_style7{width: 80px; height: 86px; margin: 8px; float: left;}
		.img_style8{width: 80px; height: 76px; margin: 10px; float: right;}
		.img_style9{width: 100px; height: 106px; margin: 8px; float: right;}
		.img_style10{width: 95px; height: 105px; margin: 8px; float: right;}
		.img_style11{width: 80px; height: 98px; margin: 8px; float: left;}
		.img_style12{width: 100px; height: 123px; margin: 8px; float: left;}
		.img_style13{opacity: 0.9; line-height: 20.8px; width: 100px; height: 88px; margin: 8px; float: left;}
		.img_style14{opacity: 0.9; line-height: 20.8px; width: 80px; height: 107px; margin: 8px; float: right;}
		.img_style15{opacity: 0.9; line-height: 20.8px; width: 100px; height: 80px; margin: 8px 10px; float: right;}
		.img_style16{opacity: 0.9; line-height: 20.8px; width: 60px; height: 70px; margin: 8px; float: left;}
		.img_style17{width: 120px; height: 104px; margin: 8px; float: left;}
		.img_style18{opacity: 0.9; font-size: 13px; line-height: 20.8px; width: 100px; height: 71px; margin: 8px; float: right;}
		.img_style19{width: 40px; height: 158px; margin: 8px; float: left;}
		.img_style20{width: 100px; height: 96px; margin: 8px; float: left;}
		.img_style21{width: 100px; height: 97px; margin: 8px; float: left;}
		.img_style22{width: 80px; height: 125px; margin: 8px; float: right;}
		.img_style23{width: 100px; height: 104px; margin: 8px; float: right;}
		.img_style24{width: 120px; height: 125px; margin: 8px; float: left;}
		.img_style25{width: 80px; height: 124px; margin: 8px; float: right;}
		.img_style26{width: 100px; height: 94px; margin: 8px; float: left;}
		.img_style27{width: 100px; height: 90px; margin: 8px; float: right;}
		.img_style28{width: 100px; height: 96px; margin: 8px; float: right;}
		.img_style29{width: 120px; height: 90px; margin: 8px; float: left;}
		.img_style30{width: 120px; height: 85px; margin: 8px; float: right;}
		.img_style31{width: 120px; height: 84px; margin: 8px; float: right;}
		.img_style32{width: 100px; height: 108px; margin: 8px; float: right;}
		.img_style33{width: 100px; height: 94px; margin: 8px; float: right;}
		.img_style34{width: 120px; height: 85px; margin: 8px; float: right;	}
		.img_style35{width: 120px; height: 68px; margin: 8px; float: right;}
		.img_style36{width: 121px; height: 78px; margin: 8px; float: right;}
		.img_style37{width: 120px; height: 80px; margin: 8px; float: right;}
		.img_style38{width: 120px; height: 90px; margin: 8px; float: right;}
		.img_style39{width: 40px; height: 94px; margin: 8px; float: right;}
		.img_style40{width: 40px; height: 105px; margin: 8px; float: right;}
		.img_style41{width: 40px; height: 112px; margin: 8px; float: right;}
		.img_style42{width: 40px; height: 124px; margin: 8px; float: right;}
		.img_style43{opacity: 0.9; line-height: 20.8px; width: 150px; height: 94px; margin: 8px; float: right;}
		.img_style44{opacity: 0.9; line-height: 20.8px; width: 100px; height: 129px; margin: 8px; float: right;}
		.img_style45{opacity: 0.9; line-height: 20.8px; width: 100px; height: 152px; margin: 8px; float: right;}
		.img_style46{width: 100px; height: 83px; margin: 8px; float: right;}
		.img_style47{width: 100px; height: 109px; margin: 8px; float: right;}
		.img_style48{width: 60px; height: 106px; margin: 8px; float: right;}
		.img_style49{width: 100px; height: 114px; margin: 8px; float: right;}
		.span1{font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 25px;}
		.span2{font-family: sans-serif; line-height: 19.200000762939453px; background-color: rgb(255, 255, 255);}
		.span3{color: rgb(51, 51, 51); font-family: sans-serif, Arial, Verdana, 'Trebuchet MS'; font-size: 13px; line-height: 20.799999237060547px;}
		.span4{font-size: 13px; line-height: 20.8px; color: rgb(128, 0, 128);}
		.padding1{padding:5px;}
		.div_style1{width: 320px;}
	}
	.ui-listview .ui-li-has-thumb>.ui-btn img:first-child{
		position: absolute;
	    left: 0;
	    top: 0;
	    max-height: 5em;
	    max-width: 5em;
	}
	fieldset.ui-controlgroup-vertical span{font-weight: bold;}
	fieldset.ui-controlgroup-vertical .ui-btn,
	fieldset.ui-controlgroup-vertical .ui-btn:visited,
	fieldset.ui-controlgroup-vertical .ui-btn:hover,
	fieldset.ui-controlgroup-vertical .ui-btn:active {
		background: rgba(255,255,255,0.1);
		border-color:transparent;
		padding-bottom:5px;
		color: #000000;
		text-shadow: 0 1px 1px #eeeeee;
	}

	input[type=checkbox] {
		visibility: hidden;
	}

	.tabs {
	  	width: 100%;
	  	margin: 0 auto;
	}
	.tabs a:hover{
		opacity: 1;
	}
	.tabs a {
		display: block;
		float: left;
		width: 25%;
		text-align: center;
		line-height:20px;
		color: #E0E0E0 !important;
		padding:15px 0px;
		text-decoration: none;
	}
	.tabs a.active {
		color:#FFFF00;
	}
	.ui-content a.ui-btn {
	    border: 1px solid !important;
	}
	.ui-page-theme-a .tabs a{background: #03a9f4;}
	.ui-page-theme-g .tabs a{background: #4CAF50;}
	.ui-page-theme-i .tabs a{background: #E91E63;}
	.ui-page-theme-n .tabs a{background: #00BCD4;}
	.ui-page-theme-p .tabs a{background: #009688;}
	.ui-page-theme-o .tabs a{background: #FF5722;}
	.ui-page-theme-e .tabs a{background: #FF9800;}
	.ui-page-theme-d .tabs a{background: #9C27B0;}
	.ui-page-theme-f .tabs a{background: #F44336;}
	.ui-page-theme-h .tabs a{background: #8BC34A;}
	input[type='text'], input[type='email'], input[type='password'] {
	    width: 400px;
		font-size: 20px;
		color:#666;
		padding: 2px 8px 6px 8px;
		position: relative;
		display: block;
		
		outline: none;
		border-bottom:1px solid #03A9F4;
	}
	input[type='text'] {
		text-transform:capitalize;
	}

	input[type='text']:hover, input[type='text']:focus, input[type='email']:hover, input[type='email']:focus, input[type='password']:hover, input[type='password']:focus {
		border-bottom:1px solid #FF9100;	
	}
	.ui-controlgroup-controls label.ui-btn.ui-corner-all.ui-btn-inherit{
		border: 0px none;
		background-color: transparent;
	}
	.swiper-slide{
		width: 100%;
		height: auto !important;
		float: left;
		box-sizing: content-box;
		display: block;
	}

    ion-navbar.fullWidth.bgCyan,
    ion-navbar.fullWidth.bgLightBlue,
    ion-navbar.fullWidth.bgDeepOrange,
    ion-navbar.fullWidth.bgGreen,
    ion-navbar.fullWidth.bgPink,
    ion-navbar.fullWidth.bgRed,
    ion-navbar.fullWidth.bgOrange,
    ion-navbar.fullWidth.bgTeal,
    ion-navbar.fullWidth.bgPurple
	{
		padding-left: 0px !important;
	}
}
