<ion-header class="ui-header {{setting.class}}">
	<ion-navbar>
    	<ion-title>
	    	<h1 class="ui-title" *ngIf="html_data!=null">
	      		{{html_data[pageId]?.title}}
	      	</h1>
    	</ion-title>
    	<ion-buttons end>
      		<button ion-button icon-only (click)="showMenu()">
        		<ion-icon name="menu"></ion-icon>
      		</button>
    	</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content overflow-scroll="true" class="{{setting.class}} content{{pageId}} ui-page-theme-{{pagemode[pageId]}}">
	<div class="fullWidth" style="padding:0px;">
		<div class="fullWidth">
		    <div class="tabs" style="position:fixed; z-index:99;" *ngIf="html_data!=null">
		    	<ng-container *ngFor="let each of html_data[pageId]?.tabs_title;let i=index">
		    		<a href="#" class="ui-link" (click)="showTab(i+1)" [ngClass]="{'active': tabId==(i+1)}">{{each}}</a>
		    	</ng-container>
		        <div class="clearboth"></div>
		    </div>
		    <div class="swiper-scrollbar shadowBottom">
	            <div class="swiper-scrollbar-drag swiper-scrollbar-cursor-drag" [ngStyle]="{'transform': tabCss+''}"></div>
	        </div>
		</div>
		<div class="swipe-container" *ngIf="html_data!=null">
			<div class="swiper-wrapper opacity5" [ngStyle]="{'transform': tabConCss+''}" *ngIf="html_data[pageId]?.tabs?.length>0">
				<div class="swiper-slide">
					<div class="content-slide ui-content">
					    <div [innerHTML]="html_data[pageId]?.tabs[0]['top_header']" *ngIf="html_data!=null"></div>
					    <div id="adult_recom_allergy_mobile_q1" *ngIf="page==0">
					        <div [innerHTML]="html_data[pageId]?.tabs[0]['header']"></div>
					        <div data-role="fieldcontain" class="ui-field-contain">
					            <fieldset data-role="controlgroup" id="adult_recom_allergy_mobile_q1_form_div" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
					                <div class="ui-controlgroup-controls ">
					                	<ng-container *ngFor="let each of html_data[pageId]?.tabs[0].fieldset;let i=index">
					                		<div class="ui-checkbox">
					                			<label for="adult_recom_allergy_mobile_q1_{{i}}" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-first-child" [ngClass]="{'ui-checkbox-on': recs[i], 'ui-checkbox-off': !recs[i]}" (click)="toggleRecs(i)">
					                				<div [innerHTML]="each"></div>
					                			</label>
					                			<input type="checkbox" name="adult_recom_allergy_mobile_q1" id="adult_recom_allergy_mobile_q1_{{i}}" class="adult_recom_allergy_mobileQ1" value="" data-cacheval="true" [(ngModel)]="recs[i]"></div>
					                	</ng-container>
					                    <hr class="hrgreen">
					                </div>
					            </fieldset>
					            <div class="clearboth divider1"></div>
					            <div class="centerText" *ngIf="html_data[pageId]?.tabs[0].fieldset?.length > 0">
					            	<div class="ui-btn ui-input-btn ui-btn-l ui-corner-all ui-shadow ui-btn-inline">Here you go<input type="button" data-inline="true" data-theme="l" id="get_adult_recom_allergy_mobile_q1" value="Here you go" (click)="togglePage(1)"></div> 
					            </div>
					        </div>
					    </div>
					    <div [innerHTML]="html_data[pageId]?.tabs[0]['mode'][mode]"></div>
					    <ng-container *ngFor="let each of html_data[pageId]?.tabs[0].collapsable;let i=index">
					    	<div data-role="collapsible" data-collapsed="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content ui-collapsible-collapsed" *ngIf="each.show && page==1">
					            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed"><a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit" (click)="expandPage(i)" [ngClass]="{'ui-icon-arrow-r': expands[i], 'ui-icon-arrow-d': !expands[i]}"><div [innerHTML]="each['title']"></div></a></h3>
					            <div class="ui-collapsible-content ui-body-inherit" [ngClass]="{'ui-collapsible-content-collapsed': expands[i]}" aria-hidden="true" [innerHTML]="each['content']">
					            </div>
							</div>
					    </ng-container>
					    <ng-container *ngFor="let each of html_data[pageId]?.tabs[0].mode_not">
							<div data-inline="true" *ngIf="page==1 && mode!=each.mode_no">
								<div [innerHTML]="each['content1']"></div>
								<p class="centerText">
									<a href="#" data-inline="true" class="{{each.buttons[0].class}} ui-link" (click)="gotoSubPage(each.buttons[0].goto)">
										<span [innerHTML]="each.buttons[0]['title']"></span>
									</a>
								</p>
								<div [innerHTML]="each['content2']"></div>
								<p class="centerText">
									<ng-container *ngFor="let each_but of each.buttons;let i=index">
										<a href="#" data-inline="true" class="{{each_but.class}} ui-link" (click)="gotoSubPage(each_but.goto)" *ngIf="i!=0">
											<span [innerHTML]="each_but['title']"></span>
										</a>
									</ng-container>
								</p>
							</div>
					   	</ng-container>
					</div>
				</div>
				<div class="swiper-slide">
				    <div class="content-slide ui-content">
				    	<div [innerHTML]="html_data[pageId]?.tabs[1]['header']" *ngIf="html_data!=null"></div>
				    	<ng-container *ngFor="let each of html_data[pageId]?.tabs[1].collapsable;let i=index">
					    	<div data-role="collapsible" data-collapsed="false" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content ui-collapsible-collapsed">
					            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed"><a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit" (click)="expandPage(i+html_data[pageId]?.tabs[1].colstart)" [ngClass]="{'ui-icon-plus': expands[i+html_data[pageId]?.tabs[1].colstart], 'ui-icon-minus': !expands[i+html_data[pageId]?.tabs[1].colstart]}"><div [innerHTML]="each['title']"></div></a></h3>
					            <div class="ui-collapsible-content ui-body-inherit" [ngClass]="{'ui-collapsible-content-collapsed': expands[i+html_data[pageId]?.tabs[1].colstart]}" aria-hidden="true" [innerHTML]="each['content']">
					            </div>
							</div>
					    </ng-container>
				    </div>
				</div>
				<div class="swiper-slide">
				    <div class="content-slide ui-content">
				        <div [innerHTML]="html_data[pageId]?.tabs[2]['header']" *ngIf="html_data!=null"></div>
				        <ng-container *ngFor="let each of html_data[pageId]?.tabs[2].collapsable;let i=index">
					    	<div data-role="collapsible" data-collapsed="false" data-corners="false" class="ui-nodisc-icon ui-collapsible ui-collapsible-inset ui-collapsible-themed-content ui-collapsible-collapsed" *ngIf="i!=0">
					            <h3 class="ui-collapsible-heading ui-collapsible-heading-collapsed"><a href="#" class="ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit" (click)="expandPage(i+html_data[pageId]?.tabs[2].colstart)" [ngClass]="{'ui-icon-plus': expands[i+html_data[pageId]?.tabs[2].colstart], 'ui-icon-minus': !expands[i+html_data[pageId]?.tabs[2].colstart]}">
					            	<div [innerHTML]="each['title']"></div>
					            </a></h3>
					            <div class="ui-collapsible-content ui-body-inherit" [ngClass]="{'ui-collapsible-content-collapsed': expands[i+html_data[pageId]?.tabs[2].colstart]}" aria-hidden="true">
					            	<div [innerHTML]="each['content']"></div>
					            	<div class="centerText" *ngIf="each['buttons']">
					            		<ng-container *ngFor="let each_but of each['buttons']">
							        		<a data-role="button" data-inline="true" class="ui-link ui-btn ui-btn-{{each_but.type}} ui-btn-inline ui-shadow ui-corner-all" role="button" (click)="gotoSubPage(each_but.goto)">{{each_but.title}}</a> 	
							        	</ng-container>
					            	</div>
					            </div>
							</div>
					    </ng-container>
				    </div>
				</div>
				<div class="swiper-slide">
				    <div class="content-slide ui-content">
				        <div [innerHTML]="html_data[pageId]?.tabs[3]['header']" *ngIf="html_data!=null"></div>
				        <p class="centerText">
				        	<ng-container *ngFor="let each of html_data[pageId]?.tabs[3]['buttons']">
				        		<a class="{{each.class}} ui-link" href="#" (click)="gotoSubPage(each.goto)">{{each.title}}</a> 	
				        	</ng-container>
				        </p>
				        <div class="comment_why_div" *ngIf="why" [innerHTML]="html_data[pageId]?.tabs[3]['why']"></div>
				    </div>
				</div>
				<p>&nbsp;</p><p>&nbsp;</p>
			</div>
		</div>
	</div>
</ion-content>