
$toolbar-background-color: #03a9f4;

page-compare-childs-container {
	font-size: 16px;
    background: #FFF;

    ion-content, div.scroll-content{
    	background-color: transparent;
    }
    ion-content.content0 .ui-content,ion-content.content2 .ui-content,ion-content.content4 .ui-content
    {
    	background-image: url(../assets/img/dosing/blue-balls.jpg);
    }
    ion-content.content3 .ui-content{
    	background-image: url(../assets/img/dosing/blue-flower.jpg);    
    }
    ion-content.content5 .ui-content{
    	background-image: url(../assets/img/dosing/orange-balls.jpg);
    }

    .ui-header .robotoLight p{
		margin: 0px;
		padding: 1em;
	}
    ion-navbar.fullWidth.bgCyan,
    ion-navbar.fullWidth.bgLightBlue,
    ion-navbar.fullWidth.bgDeepOrange,
    ion-navbar.fullWidth.bgGreen,
    ion-navbar.fullWidth.bgPink,
    ion-navbar.fullWidth.bgRed,
    ion-navbar.fullWidth.bgOrange
	{
		padding-left: 0px !important;
	}
}