<!--
  Generated template for the NearestHospital page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="ui-header {{setting.class}}">
	<ion-navbar>
	    <ion-title>
	    	<h1 class="ui-title">
	      		{{pageTitle[pageId]}}
	      	</h1>
	    </ion-title>
	    <ion-buttons end>
	      <button ion-button icon-only (tap)="showMenu()">
	        <ion-icon name="menu"></ion-icon>
	      </button>
	    </ion-buttons>
	</ion-navbar>
	<ion-navbar class="fullWidth">
	  	<div class="{{setting.spinner}} floatright"></div>
		<p *ngIf="locationPage==1" class="robotoLight {{setting.p}}">{{html_data?.navbar[pageId]}}</p>
		<p *ngIf="locationPage==2" class="robotoLight {{setting.p}}">Search By Address</p>
		<p *ngIf="locationPage==3" class="robotoLight {{setting.p}}">&nbsp;</p>
	</ion-navbar>
</ion-header>

<ion-content overflow-scroll="true"  class="{{setting.class}}">
	<div class="ui-content hospital_content" *ngIf="locationPage==1">
		<div class="opacity5">
		  <div class="opacity7">
		    <div class="maxwidth450">
		      <div class="{{setting.oval}} centerText">
		        <span>From <span class="{{setting.font}}">where</span> should the search begin?</span><br>
		      </div>
		      <div align="right">
		      	<img src="{{html_data?.imgsrc[pageId]}}" width="100">
		      </div>
		    </div>
		    <p>&nbsp;</p>
		    <hr class="{{setting.hr}}">
		    <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
		      <li class="ui-li-has-icon ui-first-child" (tap)="useCurrentLocation()">
		        <a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
		        	<img src="{{html_data?.curloc[pageId]}}" alt="location icon" class="ui-li-icon ui-corner-none">
		         	<h3 class="{{setting.font}}">Use My Current Location</h3>
					<p class="grayfontSmall">Search based on where you are now.</p>
		        </a>
		      </li>
		      <hr class="{{setting.hr}}">
		      <li data-icon="arrow-d" class="ui-li-has-icon ui-last-child" (tap)="toggleLocationByInput()">
		        <a href="#" id="show_address_form" class="ui-btn ui-btn-icon-right ui-icon-arrow-d">
		        	<img src="{{html_data?.enterloc[pageId]}}" alt="Location icon" class="ui-li-icon ui-corner-none">
					<h3 class="{{html_data?.h3[pageId]}}">I will enter a Location</h3>
					<p class="grayfontSmall">Address | City, State | Zip code</p>
		        </a>
		      </li>
		    </ul>
		    <div id="address_form" [ngClass]="{'displayNone': !enterLocation}">
			    <div>
			    	<img src="assets/img/backgrounds/nearest/pointing-arrow-address.png" width="200" height="auto" alt="tap here to enter address arrow">
			    </div>
			    <div id="map"></div>
			    <form action="" method="get" name="address_search" id="address_search" data-ajax="false" class="mbsc-comp mbsc-form mbsc-mobiscroll mbsc-ltr">
			        <div data-role="fieldcontain" class="ui-field-contain">
			            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset mbsc-input">
			            	<span class="mbsc-input-wrap">
			            		<input name="enter_address" id="enter_address" placeholder="Start typing address here...." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" class="mbsc-control mbsc-control-ev">
				            </span>
			            </div>
			            <p class="centerText"><br>
			                <a href="#" class="linkAmberBorder ui-link" data-inline="true" (tap)="transitionPage(2)">Here You Go</a>
			            </p>
			        </div>
			    </form>
			</div>
		    <div [innerHTML]="html_data?.ppp"></div>
		  </div>
		  <div class="{{setting.spinner}} floatright"></div>

		</div>
	</div>
	<div class="ui-content hospital_content" role="main" *ngIf="locationPage==2">
	    <div class="opacity8">
	        <div class="maxwidth450">
	            <div class="{{setting.oval}} centerText">
	            	<span [innerHTML]="html_data?.content[pageId]"></span>
	                <br>
	            </div>
	            <div align="right">
	            	<img src="{{html_data?.imgsrc[pageId]}}" width="100">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <p>&nbsp;</p>
	        <h3 class="{{html_data?.line[pageId]}} {{html_data?.h3[pageId]}}">You entered a location of:</h3>
        	<div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset bg_highlight">
        		{{mapData.location}}
        	</div>
	        <p>&nbsp;</p>
	        <div class="clearboth divider1"></div>
	        <p class="centerText">
	        	<a href="#" class="{{html_data?.aclass[pageId]}} ui-link" id="hospital_list" data-inline="true" (tap)="findHospital()">{{html_data?.atext[pageId]}}</a>
	        </p>
	        <div class="{{setting.spinner}} floatright"></div>
	        <div [innerHTML]="html_data?.ppp"></div>
	    </div>
	    
	</div>
	<div class="ui-mobile ui-content hospital_content" role="main" *ngIf="locationPage==3">
	    <div class="opacity8">
	        <div class="maxwidth450">
	            <div class="{{setting.oval}} centerText">
	            	<span [innerHTML]="html_data?.conten2[pageId]"></span>
	                <br>
	            </div>
	            <div align="right">
	            	<img src="{{html_data?.imgsrc[pageId]}}" width="100">
	            </div>
	        </div>
	        <div class="clearboth divider1"></div>
	        <!-- ---------------End Border right person------------------- -->
	        <p>&nbsp;</p>
	        <form action="" method="post" name="search" id="search" data-ajax="false">
	            <div data-role="fieldcontain" class="ui-field-contain">
	                <label for="your_location" class="bluefont">Your current location is:</label>
	                <div class="ui-input-text ui-shadow-inset ui-body-inherit ui-corner-all ui-textinput-autogrow">
	                	{{mapData.location}}
	                </div>
	            </div>
	        </form>
	        <br>
	        <div class="clearboth divider1"></div>
	        <br>
	        <p class="centerText">
	        	<a href="#" class="{{html_data?.aclass[pageId]}} ui-link" id="hospital_list" data-inline="true" (tap)="findHospital()">{{html_data?.atext[pageId]}}</a>
	        </p>
	        <div class="{{setting.spinner}} floatright"></div>
	        <div [innerHTML]="html_data?.ppp"></div>
	    </div>
	    
	</div>
	<div [innerHTML]="html_data?.ppp"></div>
	<div [innerHTML]="html_data?.ppp"></div>
</ion-content>
